.ak{
   color: brown;
}
.nav-bar{
    border-color: green;
    border-width: 5px;
    border-style: solid;
    background-color: aquamarine;
    padding: 20px;
    text-align: center ;
}
.nav-bar a{
     padding:20px;
     text-decoration: none;
     text-size-adjust: inherit;
     color:rgb(232, 33, 7);
}
.nav-bar a:hover{
    background-color: blue;
    text-decoration: underline;
}
body{
    margin: auto;
}